
.a a{
    color:rgb(167, 84, 74);
    font-size: 110px;
    margin-left: 30px;
    text-decoration: none;
}
.b img{


    margin-left:670px;
    margin-top: 50px;
}
.c img{


    margin-left:670px;
    margin-top: 10px;
}
